@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
  z-index: 0;
  margin: 0;
  padding: 0;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
}
html, body {
  height:100%;
  display:flex;
  flex-direction:column;
}
body > * {
  flex-shrink: 0;
}
body{
  font-family: "Roboto Condensed", sans-serif;
  color: #222;
  background-color: #EEE;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/resources/theme/resources/header.jpg");
}
.menu{
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  background-color: rgba(255,255,255,0.6);
  min-height: 115px;
  position: fixed;
}
.scrolled{
  box-shadow: 0px -50px 20px 50px black;
  background-color: #FFF;
  min-height: 50px;
}
.menu .title h1{
  margin: 0;
  padding: 10px 20px;
  font-size: 300%;
  color: black;
  font-weight: normal;
}
.scrolled .title h1{
  color: #222;
  font-size: 160%;
}
.menu .title .caption{
  font-weight: normal;
  color: #333;
  padding-left: 40px;
  padding-bottom: 10px;
}
.scrolled .title .caption{
  display: none;
}
.menu .selcetionContainer{
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu .dropDownBtn{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  padding: 0px 15px;
  display: none;
  outline: none;
}
.menu .dropDownBtn .oval{
  width: 35px;
  border-radius: 5px;
  height: 5px;
  background-color: black;
  margin-bottom: 5px;
  /*box-shadow: inset 1px 1px 1px black;*/
}
.scrolled .dropDownBtn .oval{
  height: 3px;
  width: 30px;
  background-color: #222;
  margin-bottom: 5px;
}
.menu .dropDownBtn:hover .oval,
.menu .dropDownBtn:focus .oval{
  background-color: DodgerBlue;
}
.menu .show{
  position: absolute;
  top: 115px;
  color: white;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
}
.scrolled .show{
  top: 50px;
}
.menu .dropdown{
  display: none;
}
.menu .show a,
.menu .show a:visited{
  color: black;
  display: block;
  text-decoration: none;
  padding: 10px 12px;
}
.menu .show a:hover{
  background-color: DodgerBlue;
  color: black;
}
.menu .show .current{
  background-color: #ddd;
}
.menu .selcetionContainer .menuItem{
  padding: 45px 0px;
}
.scrolled .selcetionContainer .menuItem{
  padding: 15px 0px;
}
.menu .selcetionContainer .menuItem a,
.menu .selcetionContainer .menuItem a:visited{
  background-color: inherit;
  padding: 51px 10px;
  color: black;
  text-decoration: none;
}
.scrolled .selcetionContainer .menuItem a,
.scrolled .selcetionContainer .menuItem a:visited{
  color: #222;
  padding: 16px 10px;
  width: 100%;
}
.menu .selcetionContainer .currentItem a{
  padding-bottom: 46px;
  border-bottom: 5px #222 solid;
}
.scrolled .selcetionContainer .currentItem a{
  padding-bottom: 11px;
}
.menu .selcetionContainer .currentItem a:hover{
  border-color: black;
}
.menu .selcetionContainer .menuItem a:hover{
  background-color: DodgerBlue;
  color: black;
}
.container{
  margin-top: 500px;
  box-shadow: 0px 10px 100px 50px black;
  background-color: #F8F8F8;
  flex-grow: 1;
}
.container .content{
  margin: auto;
  width: 80%;
  max-width: 900px;
  background-color: #F8F8F8;
  padding: 80px 0px;
  border-bottom: 1px #aaa solid;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container .content .title{
  padding-right: 20px;
  black-space: nowrap;
}
.container .content .post{
  letter-spacing: .3px;
}
.container .content .post table{
  width: 90%;
  max-width: 500px;
  margin: auto;
  border-collapse: collapse;
}
.container .content .post tr{
  border-bottom: 1px solid #AAA;
}
.container .content .post table td{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.container .content .post table td img{
  width: 250px;
}
.container .row{
  flex-direction: row;
}
.container .row .post{
  margin: 0px auto;
  padding: 0px 70px;
  padding-top: 20px;
}
.container .column{
  flex-direction: column;
}
.container .column .title{
  padding-bottom: 30px;
}
.container .footer{
  padding: 40px 0;
  margin: auto;
  width: 80%;
  max-width: 900px;
  background-color: #F8F8F8;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container .footer .sections{
  padding: 20px;
}
.container .footer .num2{
  min-width: 40%;
}
.container .footer .num3{
  min-width: 28%;
}
.container .footer .sections h4{
  padding-bottom: 10px;
}
.copyright{
  text-align: center;
  background-color: #DDD;
  padding: 20px 0;
}
.container .footer .sections .socialBox{
  list-style: none;
}
.container .footer .sections .socialBox .social{
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #333;
  border: 2px solid #333;
  border-radius: 100%;
  text-align: center;
  font-size: 27px;
  padding: 7px 0;
}
.container .footer .sections .socialBox .social:hover{
  color: DodgerBlue;
  background-color: #BBB;
  border-color: #BBB;
}
.container .footer .sections .socialBox>li{
  padding: 0 5px 10px 5px;
  display: inline-block;
}
.container .footer .sections .socialBox .social .fa{
  transition: none;
}
@media only screen and (max-width: 650px) {
  /*initial mobile screen*/
  .menu .selcetionContainer{
    display: none;
  }
  .menu .dropDownBtn{
    display: block;
  }
  .menu .show{
    display: block;
  }
  .container .content{
    flex-direction: column;
  }
  .container .content .title{
    padding-bottom: 30px;
  }
  .container .row .post{
    margin: 0;
    padding: 0;
  }
  .container .footer{
    flex-direction: column;
  }
  .container .footer .sections{
    min-width: 90%;
  }
}
@media only screen and (max-width: 450px) {
  .menu .title h1{
    font-size: 230%;
  }
  .scrolled .title h1{
    font-size: 160%;
  }
  .menu .title .caption{
    font-size: 130%;
  }
  .menu{
    min-height: 100px;
  }
  .scrolled{
    min-height: 50px;
  }
  .menu .show{
    top: 100px;
  }
  .scrolled .show{
    top: 50px;
  }
  .container .content .post table td img{
    width: 130px;
  }
}

@media only screen and (max-height: 500px) {
  .container{
    margin-top: 300px;
  }
}
@media only screen and (max-height: 300px) {
  .container{
    margin-top: 200px;
  }
}
