@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
  z-index: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, .menu, .menu .title > *{
  transition: all .3s ease-in-out;
}
html, body {
  height:100%;
  display:flex;
  flex-direction:column;
}
body > * {
  flex-shrink: 0;
}
body{
  font-family: "Roboto Condensed", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/resources/theme/resources/header.jpg");
}
.menu{
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  min-height: 115px;
  position: fixed;
}
.scrolled{
  box-shadow: 0px -50px 20px 50px black;
  min-height: 50px;
}
.menu .title h1{
  margin: 0;
  padding: 10px 20px;
  font-size: 300%;
  font-weight: normal;
}
.scrolled .title h1{
  font-size: 160%;
}
.menu .title .caption{
  font-weight: normal;
  padding-left: 40px;
  padding-bottom: 10px;
}
.scrolled .title .caption{
  font-size: 0px !important;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 0px;
  /* display: none; */
}
.menu .menuLinks{
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}
.menu .dropDownBtn{
  padding: 0px 15px;
  display: none;
  outline: none;
  height: 100%;
}
.menu .dropDownBtn .oval{
  width: 35px;
  border-radius: 5px;
  height: 5px;
  margin-bottom: 5px;
  pointer-events: none;
  /*box-shadow: inset 1px 1px 1px black;*/
}
.scrolled .dropDownBtn .oval{
  height: 3px;
  width: 30px;
  margin-bottom: 5px;
}
.menu .show{
  position: absolute;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
}
/* .scrolled .show{
  top: 50px;
} */
.menu .dropdown{
  display: none;
}
.menu .menuLinks .menuItem{
  height: 100%
}
.menu .menuLinks .menuItem a,
.menu .menuLinks .menuItem a:visited{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.menu .menuLinks .menuItem a.current{
  /* padding-bottom: 46px; */
  border-bottom-width: 5px;
  border-bottom-style: solid;
  padding-top: 5px;
}
.container{
  margin-top: 500px;
  box-shadow: 0px 10px 100px 50px black;
  flex-grow: 1;
}
.container .content{
  margin: auto;
  width: 80%;
  max-width: 900px;
  padding: 80px 0px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container .row .title{
  padding-right: 20px;
}
.container .content .title{
  white-space: nowrap;
}
.content img{
  max-width: 500px;
  max-height: 500px;
}
.content .post-img{
  display: contents;
}
.content .post-img img{
  min-width: 300px;
  float: right;
  margin: 0 0 20px 20px;
}
.container .content .post{
  letter-spacing: .3px;
  position: relative;
}
.container .content .post .post-table{
  width: 90%;
  max-width: 500px;
  margin: auto;
  border-collapse: collapse;
}
.container .content .post .table-row{
  border-bottom: 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .content .post .post-table .table-row > *{
  margin: auto;
  /* width: 50%; */
  padding: 10px;
  flex-grow: 1;
}
.container .content .post .post-table .table-row img{
  width: 250px;
}
.content .navigate{
  margin-top: 25px;
}
.content .navigate a{
  padding: 3px 7px;
  border-radius: 3px;
  border: 0px;
  text-decoration: none;
}
.container .row{
  flex-direction: row;
}
.container .row .post{
  margin: 0px auto;
  padding: 0px 70px;
  padding-top: 20px;
  flex-grow: 1;
}
.container .column{
  flex-direction: column;
}
.container .column .title{
  padding-bottom: 30px;
}
.container .footer{
  padding: 40px 0;
  margin: auto;
  width: 80%;
  max-width: 900px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container .footer .sections{
  padding: 20px;
}
.container .footer .num2{
  min-width: 40%;
}
.container .footer .num3{
  min-width: 28%;
}
.container .footer .sections h4{
  padding-bottom: 10px;
}
.copyright{
  text-align: center;
  padding: 20px 0;
}
.container .footer .sections .socialBox{
  list-style: none;
  margin-top: 10px;
}
.container .footer .sections .socialBox .social{
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 2px solid;
  border-radius: 100%;
  font-size: 27px;
  text-decoration: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* padding: 7px 0; */
}
.container .footer .sections .socialBox .social i{
  transition: unset;
}
.container .footer .sections .socialBox>li{
  padding: 0 5px 10px 5px;
  display: inline-block;
}
.container .footer .sections .socialBox .social .fa{
  transition: none;
}
.copyright a{
	padding-right: 20px;
}
@media only screen and (max-width: 650px) {
  /*initial mobile screen*/
  .menu .menuLinks{
    display: none;
    height: unset;
  }
  .menu .menuLinks .menuItem{
    height: unset;
  }
  .menu .menuLinks .menuItem a.current{
    border: none;
  }
  .menu .show.menuLinks .menuItem a,
  .menu .show.menuLinks .menuItem a:visited{
    display: block;
    text-decoration: none;
    padding: 10px 12px;
  }
  .menu .dropDownBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu .show{
    display: block;
  }
  .container .content{
    flex-direction: column;
  }
  .container .content .title{
    padding-right: 0;
    padding-bottom: 30px;
  }
  .container .row .post{
    margin: 0;
    padding: 0;
  }
  .container .footer{
    flex-direction: column;
  }
  .container .footer .sections{
    min-width: 90%;
  }
  .container .content .post .post-img{
    display: block;
    width: 100%;
    text-align: center;
  }
  .container .content .post .post-img img{
    min-width: unset;
    max-width: 100%;
    max-height: 250px;
    float: none;
    margin: 0 0 20px 0;
  }
}
@media only screen and (max-width: 450px) {
  .menu .title h1{
    font-size: 230%;
  }
  .scrolled .title h1{
    font-size: 160%;
  }
  .menu .title .caption{
    font-size: 130%;
  }
  .menu{
    min-height: 100px;
  }
  .scrolled{
    min-height: 50px;
  }
  /* .menu .show{
    top: 100px;
  }
  .scrolled .show{
    top: 50px;
  } */
  .container .content .post .post-table .table-row img{
    width: 130px;
  }
}

@media only screen and (max-height: 500px) {
  .container{
    margin-top: 300px;
  }
}
@media only screen and (max-height: 300px) {
  .container{
    margin-top: 200px;
  }
}
